@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Aplicação para demonstração de autenticação do ASP.NET MVC com arquitetura em 3 camadas</p>
</div>
